In [28]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)

In [29]:
from bs4 import BeautifulSoup
import requests

In [30]:
page = requests.get('https://www.wikipedia.org/')
page

In [31]:
soup = BeautifulSoup(page.content, "html.parser")
titles = soup.find_all(['h1','h2','h3','h4','h5','h6'])
print('List all the header tags:', titles)

List all the header tags: [<h1 class="central-textlogo-wrapper">
<span class="central-textlogo__image sprite svg-Wikipedia_wordmark">
Wikipedia
</span>
<strong class="jsl10n localized-slogan" data-jsl10n="portal.slogan">The Free Encyclopedia</strong>
</h1>, <h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
1 000 000+
</bdi>
<span class="jsl10n" data-jsl10n="entries">
articles
</span>
</span>
</span>
</h2>, <h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
100 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>, <h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
10 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>, <h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
1 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>, <h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
100+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>]

In [32]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [33]:
page = requests.get('https://www.imdb.com/list/ls091520106/')
page

In [34]:
soup = BeautifulSoup(page.content, "html.parser")

In [35]:
movie_name = []
rating = []
year = []

In [36]:
movie_data = soup.findAll('div', attrs= {'class': 'lister-item-content'})

In [37]:
for store in movie_data:
    name = store.h3.a.text
    movie_name.append(name)
    
    rate = store.find('span', class_ = 'ipl-rating-star__rating').text.replace('\n', '')
    rating.append(rate)
    
    year_of_release = store.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(', '').replace(')', '')
    year.append(year_of_release)

In [38]:
movie_DF = pd.DataFrame({'Name of movie': movie_name, 'Movie Rating': rating, 'Year of release': year})

In [39]:
movie_DF

                          Name of movie Movie Rating Year of release
0              The Shawshank Redemption          9.3            1994
1                         The Godfather          9.2            1972
2                The Godfather: Part II            9            1974
3                       The Dark Knight            9            2008
4                          12 Angry Men            9            1957
..                                  ...          ...             ...
95                   North by Northwest          8.3            1959
96                   A Clockwork Orange          8.3            1971
97                               Snatch          8.3            2000
98  Le fabuleux destin d'Amélie Poulain          8.3            2001
99                              The Kid          8.3            1921

[100 rows x 3 columns]

In [40]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [41]:
page = requests.get('https://www.imdb.com/list/ls051594496/')
page

In [42]:
soup = BeautifulSoup(page.content, "html.parser")

In [43]:
movie_name = []
rating = []
year = []

In [44]:
movie_data = soup.findAll('div', attrs= {'class': 'lister-item-content'})

In [45]:
for store in movie_data:
    name = store.h3.a.text
    movie_name.append(name)
    
    rate = store.find('span', class_ = 'ipl-rating-star__rating').text.replace('\n', '')
    rating.append(rate)
    
    year_of_release = store.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(', '').replace(')', '')
    year.append(year_of_release)

In [46]:
movie_DF = pd.DataFrame({'Name of movie': movie_name, 'Movie Rating': rating, 'Year of release': year})

In [47]:
movie_DF

                        Name of movie Movie Rating Year of release
0   Lagaan: Once Upon a Time in India          8.1            2001
1                  Gangs of Wasseypur          8.2            2012
2                     Rang De Basanti          8.1            2006
3                       Mughal-E-Azam          8.1            1960
4                              Sparsh            8            1980
..                                ...          ...             ...
95                    Andaz Apna Apna            8            1994
96                               Mimi          7.9          I 2021
97                         I Am Kalam          7.9            2010
98                              Raazi          7.7            2018
99                              Badla          7.8            2019

[100 rows x 3 columns]

In [253]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [254]:
page = requests.get('https://presidentofindia.nic.in/former-presidents.htm#skipContent')
page

In [255]:
soup = BeautifulSoup(page.content, "html.parser")

In [256]:
president_name = []
term = []

In [257]:
president_data = soup.findAll('div', attrs= {'class': 'presidentListing'})

In [258]:
for store in president_data:
    name = store.h3.text
    president_name.append(name)
    
    term_of_office = store.find('span', class_ = 'terms')
    term.append(term_of_office)

In [259]:
president_DF = pd.DataFrame({'Name of President': president_name, 'Term of Office': term})

In [260]:
president_DF

                              Name of President     Term of Office
0             Shri Pranab Mukherjee (1935-2020)  [Term of Office:]
1   Smt Pratibha Devisingh Patil (birth - 1934)  [Term of Office:]
2            DR. A.P.J. Abdul Kalam (1931-2015)  [Term of Office:]
3            Shri K. R. Narayanan (1920 - 2005)  [Term of Office:]
4           Dr Shankar Dayal Sharma (1918-1999)  [Term of Office:]
5               Shri R Venkataraman (1910-2009)  [Term of Office:]
6                  Giani Zail Singh (1916-1994)  [Term of Office:]
7         Shri Neelam Sanjiva Reddy (1913-1996)  [Term of Office:]
8          Dr. Fakhruddin Ali Ahmed (1905-1977)  [Term of Office:]
9      Shri Varahagiri Venkata Giri (1894-1980)  [Term of Office:]
10                 Dr. Zakir Husain (1897-1969)  [Term of Office:]
11     Dr. Sarvepalli Radhakrishnan (1888-1975)  [Term of Office:]
12             Dr. Rajendra Prasad (1884-1963)   [Term of Office:]